<h2>Edit hospital contact</h2>

<%= render "form.html", changeset: @changeset,
                        action: hospital_contact_path(@conn, :update, @hospital_contact) %>

<%= link "Back", to: hospital_contact_path(@conn, :index) %>
