<h2>New hospital contact</h2>

<%= render "form.html", changeset: @changeset,
                        action: hospital_contact_path(@conn, :create) %>

<%= link "Back", to: hospital_contact_path(@conn, :index) %>
